var getStatus = function(val) {
    var num = parseInt(val);
    console.log(num);
    switch(num) {
        case 1:
        return '申请'
        case 2:
        return '审批盖章'
        case 3:
        return '申请'
        case 4:
        return '申请'
        case 5:
        return '申请'
    }
}

module.exports = {
    getStatus: getStatus
}