var getStatus = function(val) {
    var num = parseInt(val);
    console.log(num);
    switch(num) {
        case 0:
            return '申请'
        case 1:
        return '不同意'
        case 2:
        return '受理中'
        case 3:
        return '保单确认，未启保'
        case 4:
        return '保单启保中'
        case 5:
        return '生效'
    }
}

module.exports = {
    getStatus: getStatus
}